# Tienda Nube
TN_STORE_ID=7875743
TN_ACCESS_TOKEN=80197f491fb0636afb9d273d5160cca78243280e

# Clave secreta que el PowerShell va a mandar en cada request
# para que nadie mas pueda llamar a tu endpoint.
# Pone cualquier string largo y random, ej: "mirrow-sync-2026-xyz"
SYNC_SECRET=briguXdragonfish



